<div>
  <% if selected_answer%>
    <div class="<%= 'selected_answer' if selected_answer %>">
      <p>This is the selected answer CHANGEME.</p>
    </div>
  <% end %>
  <% if answer.user.username == "Anonymous" %>
  <p><%= answer.content = "[This Answer was deleted by the user]" %></p>
  <% else %>
  <p><%= answer.content %> - written by: <%= answer.user.username %></p>
  <p><%= answer.score %></p>
  <% end %>

  <% if answer.user == current_user %>
    <form action="/answers/<%= answer.id %>" method="post">
      <input type="submit" value="DELETE YOUR ANSWER">
      <input name="_method" type="hidden" value="DELETE">
    </form>
  <% end %>

  <%= erb :'_comments', layout: false, locals: { comments: answer.comments, post_type: "answers", post_id: answer.id } %>

</div>
