
<div class="vote_box">
  <form action='/<%= post_type %>/<%= post_id %>/upvote' method='post'>
    <input class="vote_button" type="submit" name="upvote" value="&#9650;">
  </form>
  <p class="score"><%= (post_type == "questions" ? Question : Answer).find(post_id).score %></p>
  <form action='/<%= post_type %>/<%= post_id %>/downvote' method='post'>
    <input class="vote_button" type="submit" name="downvote" value="&#9660;">
  </form>
</div>