  <% if @errors %>
    <ul>
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>
<div class = "page-titles">
  <h2><%= @question.title %></h2>
</div>
  <p><%= @question.content %></p>
  <p><% @question.score %></p>
<div class = "comments">
  <% @comments.each do |comment|%>
    <%= erb :_comment, layout: false, locals: { comment: comment, user: comment.user } %>
  <% end %>
</div>
  <%= erb :_comment_form, layout: false, locals: { post_type: @post_type, post_id: @post_id} %>
