<div class='container'>

  <h3><%= @question.title %></h3>
  <p><%= @question.content %></p>
  <p><%= @question.score %></p>
  <%= erb :'questions/_vote_form', layout: false, locals: { post_type: "questions", post_id: @question.id } %>
  <%= erb :'_comments', layout: false, locals: { comments: @question.comments, post_type: "questions", post_id: @question.id } %>

  <% if @question.user == current_user %>
    <form action="/questions/<%= @question.id %>" method="post">
      <input type="submit" value="DELETE YOUR QUESTION">
      <input name="_method" type="hidden" value="DELETE">
    </form>
  <% end %>


  <%# ---ANSWER QUESTION BUTTON & FORM--- %>
  <% if logged_in? %>
  
    <button id="answer_question_btn" class="btn btn-default">Answer this question</button>

    <div id="question_answer_form_container">
      <div class="form-group">
      <form id="new_answer" action="/questions/<%= @question.id %>/answers" 
        method="post">

        <label for="answer_content">
        <textarea id="answer_content" class="form-control" name="answer[content]" rows="6" placeholder="type your answer here" value="">         
        </textarea>

        <input type="hidden" name="answer[user_id]" value="<%= current_user.id %>">
        <input type="hidden" name="answer[question_id]" value="<%= @question.id %>">

        <input type="submit" value="Submit Answer">
      
      </form>
      </div>
    </div>

  <% end %>
  <%# ---------- ------------ ----------- %>

  <h2><% @answers.count %> Answers</h2>
  <%= erb :'questions/_answer', layout: false, locals: { answer: @selected_answer, selected_answer: true } if @selected_answer %>
  <% (@answers).each do |answer| %>
    <%= erb :'questions/_answer', layout: false, locals: { answer: answer, selected_answer: false } %>
  <% end %>
</div>


