

<h1><%= @user.username %>'s Profile Page </h1>
<br>
<b>Questions Asked:</b>
<br>
<% @questions.each do |question| %>
<a href="/questions/<%=question.id%>"><%= question.title %> - Score:<%= question.score %></a>
<br>
<% end %>
<br>
<br>
<b>Questions Answered:</b>
<br>
<% @answers.each do|answer| %>
<a href="/questions/<%=answer.question.id%>"><%= answer.question.title %> - <%= answer.content %> - Score: <%= answer.score %></a>
<br>
<% end %>
<br>
<br>
<b>3 Most Recent Comments Made on Questions:</b>
<% @comments_on_questions.each do |comment| %>
    <br>
    <a href="/questions/<%=comment.post.id%>"><%= comment.post.title %> - <%= comment.content %></a>
    <br>
<% end %>
<br>
<b>3 Most Recent Comments Made on Answers</b>
<% @comments_on_answers.each do |comment| %>
  <br>
  <a href="/questions/<%=comment.post.question.id%>"><%= comment.post.question.title %>
  <br>
  <%= comment.post.content %> - <%= comment.content %></a>
  <br>
<% end %>
