<h2><%= @user.username %>'s Profile Page </h2>
<div class="container">
  <section>
  <h3>Questions Asked:</h3>
  <% @questions.each do |question| %>
  <div class="question user_highlight">
    <p><span class="score"><%= question.score %></span> - <a href="/questions/<%= question.id %>"><%= question.title %></a></p>
  </div>
  <% end %>
  </section>

  <section>
  <h3>Questions Answered:</h3>
  <%= erb :'users/_answers', layout: false, locals: { answers: @answers } %>
  </section>

  <section>
  <h3>3 Most Recent Comments Made on Questions:</h3>
  <%= erb :'users/_comments_on_questions', layout: false, locals: { comments: @comments_on_questions } %>
  </section>

  <section>
  <h3>3 Most Recent Comments Made on Answers</h3>
  <%= erb :'users/_comments_on_answers', layout: false, locals: { comments: @comments_on_answers } %>
  </section>
</div>
