<h2><%= @user.username %>'s Profile Page </h2>
<div class="container">
  <section>
    <% if @questions != [] %>
      <h3>Questions Asked:</h3>
      <% @questions.each do |question| %>
        <div class="question user_highlight">
          <%= erb :'_question_title', layout: false, locals: { question: question } %>
        </div>
      <% end %>
    <% end %>
  </section>

  <section>
    <% if @answers != [] %>
      <h3>Questions Answered:</h3>
      <%= erb :'users/_answers', layout: false, locals: { answers: @answers } %>
    <% end %>
  </section>

  <section>
    <% if @comments_on_questions != [] %>
    <h3>3 Most Recent Comments Made on Questions:</h3>
    <%= erb :'users/_comments_on_questions', layout: false, locals: { comments: @comments_on_questions } %>
    <% end %>
  </section>

  <section>
    <% if @comments_on_answers != [] %>
    <h3>3 Most Recent Comments Made on Answers</h3>
    <%= erb :'users/_comments_on_answers', layout: false, locals: { comments: @comments_on_answers } %>
    <% end %>
  </section>

  <% if @questions == [] && @answers == [] && @comments_on_questions == [] && @comments_on_answers == [] %>
    <h3>Why are you looking at me, Jack? Go ask a question!</h3>
  <% end %>
</div>
