<div class="container">

<h2> <%= @category.title %> </h2>

<% if logged_in? %>
	<a href="/categories/<%= @category.id %>/questions/new"> 
		<button class="button">	
			Ask a new question in <%= @category.title %> 
		</button> 
	</a>
<% end %>

<h3>Questions:</h3>
  <ul>
    <% @questions.each do |question| %>
      <li><a href="/questions/<%= question.id %>"><%= question.title %></a></li>
    <% end %>
  </ul>
</div>